<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-5 my-4 mx-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :name, 'Nombre' %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'Correo electrónico' %><br />
          <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Esperando confirmación de: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, 'Nueva contraseña' %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          <% if @minimum_password_length %>
            <br />
            <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirma tu contraseña' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :current_password, 'Contraseña actual' %> <i>(para confirmar tus cambios)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Actualizar", class: 'btn btn-platzi-blue' %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
